body {
    margin-top: 70px;
    display: block;
    background-color: #e9e9e9;
}

h1,
h2,
h3 {
    font-family: 'Vollkorn', serif;
    color: #333A56;
}

h4,
h5,
h6 {
    font-family: 'Vollkorn', serif;
    color: #F7F5E6;
}

p {
    font-family: 'Open Sans', sans-serif;
}

label {
    font-family: 'Vollkorn', serif;
    color: #333A56;
}

/*JUMBOTRON*/

div.jumbotron {
    text-align: center;
    background-color: #88bbd6;

}

.jumbotron p {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

h1.display-3 {
    font-weight: 700;
    color: white;
}

/*######################### HEADER #########################*/

/*NAVBAR*/

.navbar{
    background-color: white;
    font-size: 15px;
    border: 0;
    font-family: 'Vollkorn', serif;
}

.navbar-brand {
    font-size: 25px;
    color: #cdcdcd !important;
    font-weight: bold;
}

.listcolor {
    font-size: 20px;
    color: #cdcdcd !important;
    /*background-color: white;*/
}

/*######################### INDEX PAGE #########################*/

/*SEARCH FORM*/

input#main-search {
    width: 50%;
    height: 45px;
    margin: auto;
    display: block;
}

button#main-search {
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 12px;
    background-color: #88bbd6;
    color: white;
}

/*SMALL NOTE*/

.note-design {
    color: #88bbd6;
    font-style: italic;
}

/*######################### SEARCH PAGE #########################*/

/*######################### SCHOOL PAGE #########################*/


/*######################### ABOUT PAGE #########################*/

div.header-title {
    text-align: center;
}

/*######################### CONTACT PAGE #########################*/


/*######################### FOOTER #########################*/

footer {
    background-color: white;
    padding: 30px;
}
footer p {
    color: #cdcdcd;
}


/*######################### Background #########################*/

.dark-background {
    background: #52658F;
    padding: 50px 0 30px 0;
    margin-top: 40px;
    color: #E8E8E8;
}

.light-background {
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}
