body {
    margin-top: 70px;
    font-size: 16px;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins;
}

p {
    font-family: Roboto;
}


.navbar-default {
    background: #fff;
    border: 0;
    font-family: Poppins;
}

.navbar-brand {
    font-size: 20px;
    color: #000 !important;
    font-weight: bold;
}

footer {
    padding: 30px;
}

/*Added CSS*/
p.text-center {
    font-size: 12px;
}

/*Contact*/

#contact {
    background-color: #f1f1f1;
    padding: 40px;
    color: black;
/*    border-top: #333 7px solid;
    border-bottom: #333 7px solid;*/
}


/*Jumbotron*/

div.jumbotron {
    text-align: center;
}

h1.display-3 {
    font-weight: 700;
}

/*Search Form*/

button.btn {
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 12px;
}

input.form-control {
    width: 50%;
    height: 45px;
    margin: auto;
    display: block;
}


/*School Panel Bootstrap3*/


/*.p-margin {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
}*/

/*About*/

div.about {
    text-align: center;
}
.privacyback {
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    margin-top: 40px;
}

.back {
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

.back p {
    font-size: 32px;
    font-family: 'Josefin Sans';
    color: #000;
}

.back p.customer {
    font-size: 20px;
    color: #666;
}




